<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><layout-placeholder name="title" /></title>
</head>
<body>
  <h1 class="hello world"><layout-placeholder name="title" /></h1>
</body>
</html>
